<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
<footer class="footer" style="margin-bottom: -30px;">
					<div class="container-fluid" style="padding:0px 60px">
						<div class="d-flex text-muted" style="justify-content: space-between;">
						<div class="text-start">
								<p class="mb-0">
									<!-- <a class="text-muted" href="http://www.intelli.uno/"
										target="_blank"><strong>UNOPOINT</strong></a> - <a
										class="text-muted" href="http://www.intelli.uno/" target="_blank"></a> -->
									<!-- &copy; -->
								</p>
							</div> 
							<div class="text-end">
								<ul class="list-inline">
									<!-- <li class="list-inline-item"><a class="text-muted"
										href="https://adminkit.io/" target="_blank">Support</a></li>
									<li class="list-inline-item"><a class="text-muted"
										href="https://adminkit.io/" target="_blank">Help Center</a></li>
									<li class="list-inline-item"><a class="text-muted"
										href="https://adminkit.io/" target="_blank">Privacy</a></li> -->
									<li class="list-inline-item" >
									<a class="text-muted" href="http://www.intelli.uno/" target="_blank">UNOPOINT</a></li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
</div>
</body>
</html>