<html xmlns:th="http://www.thymeleaf.org">
<body>
  
  <div th:fragment="marginmodal">
  
     		<!-- Model for filter Start-->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Filter</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body row">

						<div class="col-md-4" id="" >
								<label for="page-size" class="label-input">Page Size:</label> 
								<select style="width:120px;height:20px;border:1px solid #ccc;border-radius:5px;padding-left:5px;font-size: 14px;" name="pagesize" id="pagesize">
								    <option value="All">All</option>
									<option value="20">20</option>
									<option value="60">60</option>
									<option value="60">80</option>
									<option value="60">100</option>
								</select>
					   </div>
					   
					   
					   <!--<div class="col-md-4" id="" >
								<label for="page-size" class="label-input">Sort By:</label> 
								<select style="width:120px;height:20px;border:1px solid #ccc;border-radius:5px;padding-left:5px;font-size: 14px;" name="currencies2" id="currencies2">
								    <option value="All">All</option>
									<option value="20">20</option>
									<option value="60">60</option>
									<option value="60">80</option>
									<option value="60">100</option>
								</select>
					   </div>
					   
					   
					   <div class="col-md-4" id="" >
								<label for="page-size" class="label-input">Filter:</label> 
								<select style="width:120px;height:20px;border:1px solid #ccc;border-radius:5px;padding-left:5px;font-size: 14px;" name="currencies3" id="currencies3">
								    <option value="All">All</option>
									<option value="20">20</option>
									<option value="60">60</option>
									<option value="60">80</option>
									<option value="60">100</option>
								</select>
					   </div>-->
					   
						<div class="col-md-4">
                              <label for="email" class="label-input">Currency:</label>
			                <select style="width:120px;height:20px;border:1px solid #ccc;border-radius:5px;padding-left:5px;font-size: 14px;" name="currencies" id="currencies">
									<option th:text="${INR}"></option>
									<option value="USD">USD</option>
									</select>
						</div>



						
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							 <button type="button" class="btn btn-primary" onclick="saveModalChanges()" data-dismiss="modal" 
							      style="color:white;background:black;"
								id="myButtonForChartData">Save changes</button>
													
													 				
								
								
						</div>
					</div>
				</div>
			</div>
			<!-- Model End -->
		</div>
		
		
	<script th:inline="javascript">
		var m_strCurrencyType = "";
		document.getElementById("currencies").addEventListener("change", function () {
		    m_strCurrencyType = this.value;
		    let dataSpan = document.getElementById("dataSpan");

		    if (m_strCurrencyType === "INR") {
				    dataSpan.textContent = "₹"; // Set the Rupee (₨) symbol for INR
			} else {
				    dataSpan.textContent = "$"; // Set the Dollar ($) symbol for other currencies
			}
		   
		});
		
	    function saveModalChanges() {
	    	
		}
		
		$(document).ready(function() {
		    
            /**SETTING CURRENCY HERE **/
            let dataSpan = document.getElementById("dataSpan");
		    if (m_strCurrencyType === "USD") {
				    dataSpan.textContent = "$"; // Set the Dollar ($) symbol for other currencies
			} else {
				    dataSpan.textContent = "₹"; // Set the Rupee (₨) symbol for INR 
		    }
			/**SETTING CURRENCY ENDS **/
			
		});
		
		
	
		
</script>
 </div>
 

 
</body>
</html>